 
                        
<form role="form" name="myUsoForm"> 
  
  <div  class="control-group" ng-class="{'has-error': myUsoForm.uso_server.$invalid && !myUsoForm.uso_server.$pristine}"> 
      
      <table>
           <tr> 
                    <td class="warning text-right">ครู้ผู้ดูแล : </td>  
                    <td ><input type="text" class="form-control" name="name" ng-model="data.uso_teacher"></td>
                    
                    <td class="warning text-right">&nbsp;&nbsp;เบอร์โทร :</td>  
                    <td ><input type="text" class="form-control" name="name" ng-model="data.uso_tea_mobile"></td>  
                    
                    <td class="warning text-right"></td>
                    <td hidden ng-controller="displayCtrl as toDay"><p hidden>{{data.uso_update = toDay.toDay | date:'dd-MM-yyyy เวลา HH:mm'}}</p> <input  type="text" class="form-control" ng-model="data.uso_update" ></td>    

                 
            </tr>
      </table>
      <br>
      <table class="table">  
                <tr class="active">  
                    <th width="15%">รายการ</th>
                    <th width="20%">หมายเลขเครื่อง</th>  
                    <th width="15%">หมายเลขจอ</th>  
                    <th width="50%">หมายเหตุ</th>  
                </tr>  
                
                <tr> 
                    <td class="warning text-right">Server IBM X3400 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_server"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_server_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_server_stat"></td>  
                </tr> 
                <!--// เครื่องครู -->
                 <tr>  
                    <td class="warning text-right">PC ครู : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc0"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc0_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc0_stat"></td>  
                </tr>

                <tr>  
                    <td class="warning text-right">PC 1 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc1"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc1_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc1_stat"></td>  
                </tr>  

                <tr>  
                    <td class="warning text-right">PC 2 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc2"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc2_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc2_stat"></td>  
                </tr>

                <tr>  
                    <td class="warning text-right">PC 3 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc3"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc3_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc3_stat"></td>  
                </tr>

                <tr>  
                    <td class="warning text-right">PC 4 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc4"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc4_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc4_stat"></td>  
                </tr>

                <tr>  
                    <td class="warning text-right">PC 5 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc5"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc5_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc5_stat"></td>  
                </tr>

                <tr>  
                    <td class="warning text-right">PC 6 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc6"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc6_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc6_stat"></td>  
                </tr>

                <tr>  
                    <td class="warning text-right">PC 7 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc7"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc7_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc7_stat"></td>  
                </tr>

                <tr>  
                    <td class="warning text-right">PC 8 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc8"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc8_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc8_stat"></td>  
                </tr>

                <tr>  
                    <td class="warning text-right">PC 9 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc9"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc9_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc9_stat"></td>  
                </tr>

                <tr>  
                    <td class="warning text-right">PC 10 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc10"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc10_mo"></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_pc10_stat"></td>  
                </tr>
                 <!--// UPS -->
                <tr>  
                    <td class="warning text-right">UPS Ultra 1000VA : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_ups1"></td>  
                    <td></td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_ups1_stat"></td>   
                </tr>

                 <tr>  
                    <td class="warning text-right">UPS Ultra 600VA : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_ups6"></td> 
                    <td></td> 
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_ups6_stat"></td>   
                </tr>

                <tr>  
                    <td class="warning text-right">Printer : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_printer"></td>
                    <td></td> 
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_printer_stat"></td>   
                </tr>

                <tr>  
                    <td class="warning text-right">Projector พร้อมจอรับภาพ: </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_projector"></td>  
                    <td></td> 
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_projector_stat"></td>   
                </tr>

                <tr>  
                    <td class="warning text-right">เครื่องเล่น DVD : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_dvd"></td>  
                    <td></td> 
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_dvd_stat"></td>   
                </tr>

                <tr>  
                    <td class="warning text-right">จอ LCD TV 32นิ้ว : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_lcd"></td>  
                    <td></td> 
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_lcd_stat"></td>   
                </tr>

                <tr>  
                    <td class="warning text-right">เครื่องรับสัญญาณดาวเทียม : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_rev"></td>  
                    <td></td> 
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_rev_stat"></td>   
                </tr>

                <tr>  
                    <td class="warning text-right">เครื่องปรับอากาศ 1 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_air1"></td>  
                    <td></td> 
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_air1_stat"></td>   
                </tr>

                <tr>  
                    <td class="warning text-right">เครื่องปรับอากาศ 2 : </td>  
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_air2"></td>  
                    <td></td> 
                    <td><input type="text" class="form-control" name="name" ng-model="data.uso_air2_stat"></td>   
                </tr>
      </table> 
       
    
  </div>
 
  <br> 
  <div>
        <a ng-href="{{'#/sch_view/'}}{{data.uso_smis}}" class="btn btn-default">Back</a>  
        <a ng-href ="{{'#/sch_view/'}}{{data.uso_smis}}" > <button  ng-click="submitUsoForm(data)" class="btn btn-primary">Save</button> </a>
       <!-- <button ng-show="data.id" class="btn btn-danger" ng-click="deleteData(data.id)">Delete</button>  // ng-disabled="myUsoForm.$invalid" -->
  </div>
</form>  